* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    color: #00334e;
}

/*+++++++++++++++++ NAVBAR Component +++++++++++++++++++++++++*/
.navbar {
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    background-color: #1b262c;

    overflow: hidden;
    position: fixed;
    /* Set the navbar to fixed position */
    top: 0;
    /* Position the navbar at the top of the page */
    width: 100%;
    /* Full width */
}

.nav-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    position: fixed;
    opacity: 0;
    top: 10vh;
    width: 100%;
    transition: all .7s cubic-bezier(.41, -0.46, .63, 2.45);
    height: 100vh;
    background-color: #1b262c;
    cursor: pointer;
}

.nav-links li {

    margin: 0px auto;
}

.nav-links li:hover {
    border-bottom: 1px solid red;

}

.nav-links:hover li .home-icon {
    transform: scale(1.3)
}

.home-icon:hover,
.about-icon:hover,
.projects-icon:hover,
.contact-icon:hover {
    background-color: red;
}

.home-icon,
.about-icon,
.projects-icon,
.contact-icon {
    color: black;
    text-decoration: none;
    font-size: 40px;
    transition: all 1s;
    margin: auto;
    padding: 0px 50%;
}

.hamburger {
    color: #fdcb9e;
    cursor: pointer;

}

.minus-icon {
    color: red;
    position: absolute;
    right: 7%;
    top: 7%;
    cursor: pointer;
    transition: all .4s;
}

.minus-icon:hover {
    text-decoration: line-through;
    transform: scale(1.3);
}

.logo {
    text-decoration: none;
    color: #00b7c2;
    font-size: 30px;
}

.logo h1 span {
    text-decoration: none;
}

/*+++++++++++++++++ HOME Component +++++++++++++++++++++++++*/
.home {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
    line-height: 1.3;
    background: url("../src/images/homeImageLarge.jpg");
    background-size: 30px;
    /** moved this property down */
}


.header {
    font-size: 35px;
    font-weight: 100;
}

.description {
    font-size: 17px;
}

.hireBTN {
    background-color: #ee6f57;
    margin: 10px 0px;
    padding: 5px 50px;
    cursor: pointer;
}

/*+++++++++++++++++ CARD Component +++++++++++++++++++++++++*/
.projects-section {
    /* display grid for the cards */
    margin-top: 10vh;

}

.gitHub {
    width: 40px;
    cursor: pointer;
}

.card-menu {
    border: 1px solid black;
    padding: 0px 5%;
    margin: auto;
}

.description {
    font-size: 15px;
}

.projectsName {
    font-size: 30px;
    font-weight: 100;
}

.techUse {
    list-style: none;
}

/*+++++++++++++++++ Card Component +++++++++++++++++++++++++*/

.project-gif {
    width: 100%;
    margin: 13px 0px;
    border-radius: 12px;
}

.projects-section {
    /* display grid */
    display: grid;
    line-height: 1.3;
}

.card-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects-name {

    font-size: 40px;
    font-weight: 100;
}

.description {
    font-size: 20px;
}

.tech-use li {

    font-size: 17px;
    font-weight: bolder;

}

/*+++++++++++++++++ CONTACTS Component +++++++++++++++++++++++++*/
.contactMe {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contactMe label
{
    font-size: 20px;
    font-weight: bolder;
}.contactHeader {
    font-size: 50px;
    font-weight: 100;
}
.email,.phone
{
    text-decoration: none;
    color: black;
}
.email span,
.phone span{
    font-weight: bold;
}

/*+++++++++++++++++ FOOTER Component +++++++++++++++++++++++++*/
.footer{
    border-top: 1px solid black;
    height: 7vh;
    display: flex;
    justify-content: space-around;
}
@media(min-width: 700px) {
    .hamburger {
        display: none;
    }
}