* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("../src/images/homeImageSmall.jpg");
    background-size: cover;
}

/*+++++++++++++++++ NAVBAR Component +++++++++++++++++++++++++*/
.navbar {
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    background-color: #5b78c7;

    overflow: hidden;
    position: fixed;
    /* Set the navbar to fixed position */
    top: 0;
    /* Position the navbar at the top of the page */
    width: 100%;
    /* Full width */
}

.nav-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    position: fixed;
    opacity: 0;
    top: 10vh;
    width: 100%;
    transition: all .7s cubic-bezier(.41, -0.46, .63, 2.45);
    height: 100vh;
    background-color: skyblue;
    cursor: pointer;
}

.nav-links li {

    margin: 0px auto;
}

.nav-links li:hover {
    border-bottom: 1px solid red;

}

.nav-links:hover li .home-icon {
    transform: scale(1.3)
}

.home-icon:hover,
.about-icon:hover,
.projects-icon:hover,
.contact-icon:hover {
    background-color: red;
}

.home-icon,
.about-icon,
.projects-icon,
.contact-icon {
    color: black;
    text-decoration: none;
    font-size: 40px;
    transition: all 1s;
    margin: auto;
    padding: 0px 50%;
}

.hamburger {
    cursor: pointer;

}

.minus-icon {
    color: red;
    position: absolute;
    right: 7%;
    top: 7%;
    cursor: pointer;
    transition: all .4s;
}

.minus-icon:hover {
    text-decoration: line-through;
    transform: scale(1.3);
}

.logo {

    font-size: 30px;
}

.logo h1 span {
    text-decoration: none;
}

/*+++++++++++++++++ HOME Component +++++++++++++++++++++++++*/
.home {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    height: 100vh;
    line-height: 1.3;
}


.header {
    font-size: 35px;
    font-weight: 100;
}

.description {
    font-size: 17px;
}

.hireBTN {
    margin: 10px 0px;
    padding: 5px 50px;
    cursor: pointer;
}

/*+++++++++++++++++ CARD Component +++++++++++++++++++++++++*/
.projects-section {
    /* display grid for the cards */
margin-top: 10vh;

}

.gitHub {
    width: 40px;
    cursor: pointer;
}

.card-menu {
    border: 1px solid black;
padding: 0px 5%;
    margin: auto;
}

.description
{
    font-size: 15px;
} 
.projectsName {
    font-size: 30px;
    font-weight: 100;
}

.techUse {
    list-style: none;
}

@media(min-width: 700px) {
    .hamburger {
        display: none;
    }
}